@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
* { box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: 'Lato', sans-serif; }

.main { background: url("../images/background.jpg") no-repeat center; background-size: cover; min-height: 100vh; overflow: hidden; }

.main .container { max-width: 60vw; margin: 0 auto; text-align: center; }

.main .container .main__header { font-size: 3rem; color: #222831; }

.main .container .main__header::after { content: ''; border: 1px solid #222831; width: 55%; display: block; margin: auto; }

.main .container .input__box { width: 50%; margin: auto; }

.main .container .input__box .input__text { font-size: 1.2rem; vertical-align: bottom; padding: 10px; border-radius: 10px 0 0 10px; border: 2px solid #00adb5; }

.main .container .input__box .input__text:focus { outline: none; }

.main .container .input__box .input__btn { font-size: 1rem; letter-spacing: 0.5px; padding: 10px; height: 46px; margin-left: -10px; border: none; border-radius: 0 10px 10px 0; background: #00adb5; color: #fff; }

.main .container .input__box .input__btn:focus { outline: none; }

.main .container .input__box .input__btn:hover { cursor: pointer; }

.main .container .weather__box { font-size: 24px; color: #222831; }

.main .container .weather__box .icon__box { padding-top: 25px; }

.main .container .weather__box .icon__box .icon__img { width: 70px; height: 70px; }

.main .container .weather__box .city__text { font-weight: bold; padding: 10px; }

.main .container .weather__box .city__text .city__text--span { color: #20003D; font-style: italic; }

.main .container .weather__box .temp__info { padding: 10px; }

.main .container .weather__box .temp__info .temp__info--span { padding: 10px 20px; background: #20003D; color: #fff; border-radius: 20px; }

.main .container .weather__box .wind__info { padding: 10px; }

.main .container .weather__box .coord__link { padding: 10px; }
